[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
nbconvert = "*"
multiprocess = "*"
aiohttp = "*"
nest-asyncio = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.10"
